@use "../../common/variables" as *;

.fontMint {
  color: $mint-blue;
}

.heading4 {
  color: $mint-blue;
  margin-top: 0;

  @media (min-width: $bp-tablet) {
    font-family: $barlow-condensed-font;
    margin-top: 1.25rem;
    font-size: 2rem;
  }
}

.pageContainer {
  max-width: $max-content-width;
  margin: 0 auto;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 0 1.25rem;
}

.heading {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 3.125rem;
  margin-bottom: 1rem;

  font-weight: 600;

  @media screen and (min-width: $bp-tablet) {
    font-size: 2rem;
    justify-self: flex-start;
    margin-bottom: 1.65rem;
  }
}

.description {
  display: grid;
  grid-template-columns: 1fr;

  gap: 1.85rem;
  @media screen and (min-width: $bp-tablet) {
    grid-template-columns: 3fr 1fr;
    gap: 6.35rem;
    margin-bottom: 5.7rem;
  }

  &__text {
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }
}

.contactButtonContainer {
  width: 8.13rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 6.25rem;
  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 0;
    height: unset;
  }
}

.membersContainer {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $bp-tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
