.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 800px;
  margin: 0 auto;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputField {
  display: flex;
  flex-direction: column;

  input {
    flex-grow: 1;
  }
}

.nameFiled {
  flex-direction: column;
  display: flex;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .inputField {
    flex-basis: 40%;
    flex-grow: 1;
  }
}

.submitBUttonContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}