@use '../../common/variables.scss' as *;
.speakerCard{

  width: 17.50rem;
  background-color: $white; ;

  h2{
    color: #35AFAC;
    font-size: 1.25rem;
    line-height: 1.50rem;
    margin-bottom: 0.94rem;
    margin-left:0.06rem ;
  }

  figure {
    margin:0;
    img {
      width: 17.50rem;
      height: 17rem;
    }

  }

  .tagline {
    font-style: italic;
  }





}

@media screen and (min-width: 992px) {


  .speakerCard {
    width: 13.50rem;
    // width: 61.36%;
    margin: 0 0 0 0;

      h2 {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.20rem;
        margin: 0 auto 1rem 0.15rem ;

      }

      figure{
        margin: 0;
            img {
                width: 13.50rem;
                height: 13.50rem;
              }

      }

      h3{
        font-size: 0.90rem;
        line-height: 1.20rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        margin: 1rem auto 0.50rem 0;
      }

      h4{
        font-size: 0.80rem;
        line-height: 1.20rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        margin-top: 1rem;
        margin-bottom: 0.15rem;
      }

      p {
        font-size: 0.80rem;
        line-height: 1.20rem;
        font-weight: 400;
        letter-spacing: 0.04rem;
        margin-top: 0;
      }



      .button{
        margin-top: 1rem;
      }


  }
}