@use '../../common/variables.scss' as *;
.bookSpeakerContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;



  .bookCard {
    order: 1;
  }

  .bookForm{
    background-color: $light-beige;
  }

    .topRectangle{
    background-color: $light-beige;

  }
}

@media screen and (min-width: 992px) {
.bookSpeakerContainer {

  margin-left: 7.50rem;
  margin-right:7.50rem;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;




  .topRectangle{
    grid-column:2;
    grid-row:1;
    height: 3.05rem;
  }


  .bookForm{
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    padding-top: 3.05rem;
    // padding-right: 7.50rem;

  }

  .bookCard {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    padding-top: 3.05rem;
  }
}
