@use '../../common/variables.scss' as *;
.bookSpeakerContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;



  .bookCard {
    order: 1;
  }

  .bookForm{
    background-color: $light-beige;
  }

    .topRectangle{
    background-color: $light-beige;

  }
}

@media screen and (min-width: 992px) {
.bookSpeakerContainer {

  display: grid;
  grid-template-columns: 34.16% calc(100% - 34.16%);

    .white {
        background-color: $white;
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1;
        display: flex;
          justify-content: flex-end;

          // flex-shrink: 2;
      }

    .beige {
      grid-column: 2;
      grid-row: 1;
      background-color: $light-beige;
      display: flex;
      flex-shrink: 1;
      // max-width: 100%;
    }




  .topRectangle{

    height: 3.05rem;
  }


  .bookForm{

    padding-top: 3.05rem;
    margin-left: 3.85rem;
    // margin-left: 5.3472%;
    margin-right: 10.416%;

  }

  .bookCard {
    padding-top: 3.05rem;
    margin-right:5%;
    // margin-left: 29.16%;
    margin-left: 10.416%;

  }
}
}