@use '../../common/variables' as *;

// .blockDisplay {
//   display: block;
// }

// .topRightGrid {
//   margin: 0;
// }

// .twoColumn {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 1rem;
//   max-width: 500px;
//   margin: 0;
// }

// .oneColumn {
//   width: 500px;
// }

// .topGrid {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 1rem;
//   max-width: 1000px;
// }

.speakerUpdateProfile {
  h3{
    margin-top: 1.38rem;
    margin-left: 1.25rem;
    font-size: 1.13rem;
    line-height: 1.88rem;
    font-weight: 700;
    color: $black;
  }

  p{
    color: $fiery-rose;
    font-size: 0.88rem;
    line-height: 1.88rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-left: 1.31rem;
  }

  form{
    margin: 0 1.25rem;
    max-width: 450px;

    .topGrid{
      .topLeft>input{
        display: none;

      }

      .topLeft{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        .profilePhoto{

          width: 100%;
          height: auto;
          margin-bottom: 1.88rem;
        }
      }
      .imageLabel{
        align-self: center;
        color:$mint-blue;
        font-size:1.13rem;
        line-height:1.88rem;
        font-weight: 700;
        font-family: $barlow-condensed-font;
        text-decoration: underline;


      }
    }
  }
}

@media screen and (min-width: $bp-large) {}
