@use '../../../common/variables' as *;

.filterFormContainer {
  letter-spacing: 0.05em;
  position: absolute;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media screen and (min-width: $bp-tablet) {
    background-color: $white;
    padding: 0.4rem 1rem;
    border-radius: 4px;
  }
  .filterForm {
    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
    display: flex;

    .filterContainer {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      font-family: $barlow-condensed-font;
      font-weight: 600;
      font-size: 0.8rem;
      &:not(:first-child) {
        border-left: 1px solid $grey;
        margin-left: 0.5rem;
        padding-left: 0.5rem;
      }
      fieldset {
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 0px;
        white-space: nowrap;
      }
      .filterLabel {
        white-space: nowrap;
        font-family: $barlow-condensed-font;
        font-weight: 600;
        font-size: 0.8rem;
      }
      .filterValues {
        display: none;
      }
      .caretIcon {
        transition: all 0.2s ease-in-out;
        transform: rotate(0deg);
      }
      &:hover .caretIcon {
        transform: rotate(180deg);
      }
      &:hover .filterValues {
        font-family: $barlow-font;
        font-weight: 500;
        padding: 0.5rem;
        position: absolute;
        background-color: $white;
        top: 100%;
        left: 0;
        max-height: 10rem;
        overflow-y: auto;
        display: block;
        min-width: 150px;
        border-radius: 4px;
        box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 5%);
      }
    }
    button {
      margin-left: 1rem;
      align-self: center;
      white-space: nowrap;
    }
  }
}
.primaryButton {
  background-color: $mint-blue;
  color: $white;
  font-family: $barlow-condensed-font;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.05em;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $white;
    color: $mint-blue;
    outline: 2px solid $mint-blue;
  }
}

@media screen and (min-width: $bp-tablet) {
  .mobileButton {
    display: none;
  }
}
