@use '../../../common/variables' as *;

.benefitContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  // &:nth-child(2) {
  //   .benefitLogo {
  //     padding-left: 0.5rem;
  //   }
  // }

  // &:nth-child(4) {
  //   .benefitLogo {
  //     padding-left: 0.5rem;
  //   }
  // }

  .benefitLogo {
    $dimension: 74px;
    width: $dimension;
    height: $dimension;
    border-radius: 4px;
    background-color: $light-green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .benefitText {
    max-width: 60%;
    font-family: $barlow-condensed-font;
    font-weight: 600;
    font-size: 16px;
    color: $black;
    margin-top: 0.8rem;
    text-align: center;
    letter-spacing: 0.05em;
  }
}
