@use '../../common/variables' as *;
.css-hlj6pa-MuiDialogActions-root {
  padding: 0;
}
.popup {
  background: #f9f8f5;
  border-radius: 6px;
  .crossMark {
    text-align: end;
    margin: 0.75rem;
  }
  .logoMic {
    p {
      display: flex;
      justify-content: center;
    }
    svg {
      height: 6.25rem;
      margin: 0 auto 2.813 !important;
    }
  }
  .dialogContent {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .confirmationText {
      height: 1.875rem !important;
      font-style: normal !important;
      font-weight: 600 !important;
      font-size: 1rem !important;
      line-height: 1.875rem !important;
      text-align: center !important;
      color: #3a3f3f !important;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }
  .dialogActions {
    justify-content: center;
    margin-bottom: 1rem;

    .okButton {
      border: 1px solid #35afac;
      background: #35afac;
      color: #f9f8f5;
      text-transform: capitalize;
      width: 6.25rem;
      margin-right: 1.25rem;
    }
    .cancelButton {
      border: 1px solid #f28080;
      color: #f28080;
      text-transform: capitalize;
      width: 6.25rem;
    }
  }
}
@media screen and (min-width: $bp-tablet) {
  .MuiPaper-root,
  .dialogBox {
    margin: 0 !important;
    overflow-y: unset !important;
  }
  .popup {
    width: 40rem !important;
    height: 25.25rem !important;
    .crossMark {
      margin-top: 1.5rem;
      margin-right: 1.5rem;
      margin-bottom: 0.5rem;
      height: 1.25rem !important;
      display: flex !important;
      justify-content: flex-end !important;
    }
    .logoMic p svg {
      width: 6rem !important;
      height: 8.875rem !important;
      display: block !important;
      justify-content: unset !important;
      margin: 0 auto 2.813rem !important;
    }
    .dialogContent {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      .confirmationText {
        height: 1.875rem !important;
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 1.5rem !important;
        line-height: 1.875rem !important;
        text-align: center !important;
        margin-bottom: 2.313rem !important;
      }
    }

    .okButton,
    .cancelButton {
      width: 10.875rem !important;
      height: 3.125rem !important;
    }
    .okButton {
      margin-right: 1.5rem;
    }
    .dialogActions {
      padding: 0 !important;
      margin-bottom: 3.125rem !important;
    }
  }
}
