@use '../../common/variables' as *;
.organizationDetails {
  margin-top: 37px;

  .email {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .crossMark {
      height: 15px;
      width: 15px;
      align-self: center;
    }
  }
  .organizationEmail {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #35afac;
  }
  p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #3a3f3f;
    margin-bottom: 10px;
    padding: 0;
    span {
      display: block;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.05em;
      color: #3a3f3f;
    }
  }
}
@media screen and (min-width: $bp-tablet) {
}
