@use '../../common/variables' as *;
.organizationDetails {
  margin-top: 1.25rem;
  .crossMark {
    text-align: end;
    position: relative;
    top: 1.25rem;
  }

  .organizationEmail {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    text-underline-offset: 0.2rem;
    color: #35afac;
  }
  p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
    color: #3a3f3f;
    margin-bottom: 0.625rem;
    padding: 0;
    span {
      display: block;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.05em;
      color: #3a3f3f;
    }
  }

  @media screen and (min-width: $bp-tablet) {
    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.05em;
      color: #3a3f3f;
      display: grid;
      grid-template-columns: 1fr 2.5fr;
      grid-gap: 0.75rem;
      span {
        display: inline;
        height: 2.375rem;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.05em;
        color: #3a3f3f;
        margin-bottom: 0.125rem;
      }
    }
  }
}
