@use "../../common/variables" as *;

.contactContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  align-items: flex-start;
  justify-items: flex-start;
  max-width: $max-content-width;
  margin: 0 auto;

  @media screen and (min-width: $bp-tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.heading {
  grid-column: 1 / -1;
}

.description {
  grid-column: 1 / -1;
  gap: 1.85rem;
  @media screen and (min-width: $bp-tablet) {
    grid-template-columns: 3fr 1fr;
    gap: 6.35rem;
  }
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: unset;
  width: 100%;
  height: 100%;
  background-color: $light-beige;
  padding: 20px;
  margin: 0;
  justify-content: flex-start;
  align-content: flex-start;

  .inputFieldContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1rem;

    @media screen and (min-width: $bp-tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .description {
    text-align: left;
  }

  .label {
    margin: 0;
    font-weight: 700;
  }

  .input {
    width: 100%;
    height: 40px;
    margin-right: 0;
    margin-left: 0;
    border: none;
    grid-column: 1 / -1;

    &:focus {
      outline: 0.1px solid $grey;
    }
  }

  .textarea {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    grid-column: 1 / -1;
    resize: none;
  }
}

.imageContainer {
  display: none;
  width: 100%;
  height: 100%;

  @media screen and (min-width: $bp-tablet) {
    display: block;
  }
}

.featureImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.buttonContainer {
  display: grid;
  justify-items: center;
  align-items: center;
  flex-grow: 1;
}
