@use '../../common/variables' as *;
.bookingInfo {
  margin: 20px;
  h2 {
    color: #3a3f3f;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    height: 30px;
  }

  h3 {
    font-size: 16px;
    font-style: normal;
    margin-bottom: 9px;
    margin-top: 0;

    height: 19px;
  }
  ul {
    padding-left: 0;
    margin-top: 0;
    li {
      list-style-type: none;
      background: white;
      padding: 20px;
      margin-bottom: 20px;
      .mintBlueText {
        color: #35afac;
        font-size: 16px;
        font-weight: 600;
      }
      .date {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #3a3f3f;
        margin-top: 9px;
      }
      .centreColumnTopRow {
        margin-top: 19px;
        margin-bottom: 10px;
      }
      .sentAt {
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 11px;
        color: #b7bfbf;
        align-self: end;
      }
      .organizationName {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.05em;
        text-decoration-line: underline;
        color: #3a3f3f;
        span {
          margin-right: 5px;
        }
      }
      .approve {
        width: 60px;
        height: 39px;
      }
      .cancel {
        height: 39px;
      }
      .decline {
        width: 54px;
        height: 39px;
      }
      .waitingForReview {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #b7bfbf !important;
      }
    }
  }
  .verticalGrid {
    .forBorderDiv {
      border-bottom: solid 1px #b7bfbf;
      padding-bottom: 19px;
    }
    .forBorderDivSecondSection {
      border-bottom: solid 1px #b7bfbf;
      padding-bottom: 10px;
    }
  }

  .callToActionColumn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 16px;
  }

  .centreColumnTopRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: $bp-tablet) {
    .verticalGrid {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      .forBorderDiv {
        border-bottom: none;
        padding-bottom: 0;
      }
      .forBorderDivSecondSection {
        border-bottom: none;
        border-left: solid 1px #b7bfbf;
        border-right: solid 1px #b7bfbf;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 0;
      }
    }
    margin: 97px;
    h2 {
      margin-top: 51px;
      margin-bottom: 49px;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      width: 78px;
      height: 30px;
    }
    h3 {
      width: 66px;
      height: 22px;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 14px;
    }
    li {
      padding: 10px 20px;
      width: 753px;
      margin-bottom: 20px !important;
      .mintBlueText {
        padding-top: 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 9px;
      }
      .date {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }
      .centreColumnTopRow {
        margin-top: unset !important;
        margin-bottom: unset !important;
      }
      .sentAt {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        align-self: start !important;
        padding-top: 15px;
      }
      .organizationName {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        span {
          margin-right: 4px !important;
        }
      }
      .approve {
        margin-left: 33px !important;
        margin-right: 38px !important;
      }
      .callToActionColumn {
        margin-top: 15px;
      }
      .decline {
        margin-right: 14px !important;
      }
    }
    .upcoming {
      margin-top: 62px !important;
    }

    .history {
      margin-top: 62px !important;
      li {
        padding-right: 0 !important;
      }
    }
    .cancel {
      margin-left: 57px;
      margin-right: 38px;
    }
    .waitingForReview {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #b7bfbf !important;
        width: 135px;
        height: 22px;
        margin: 0 42px;
      }
    }
  }
}
