@use '../../common/variables' as *;
.waitingInfo,
.upcoming,
.history {
  margin: 1.25rem;
  h2 {
    color: #3a3f3f;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    height: 1.875rem;
  }

  h3 {
    font-size: 1rem;
    font-style: normal;
    margin-bottom: 0.563rem;
    margin-top: 0;

    height: 1.188rem;
  }
  ul {
    padding-left: 0;
    margin-top: 0;
    li {
      list-style-type: none;

      margin-bottom: 1.25rem;
      .eachCard {
        background: white;
        padding: 1.25rem;

        .mintBlueText {
          color: #35afac;
          font-size: 1rem;
          font-weight: 600;
        }
        .date {
          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          letter-spacing: 0.05em;
          color: #3a3f3f;
          margin-top: 0.563rem;
        }
        .centreColumnTopRow {
          margin-top: 1.188rem;
          margin-bottom: 0.625rem;
        }
        .sentAt {
          font-style: normal;
          font-weight: 500;
          font-size: 0.688rem;
          line-height: 0.688rem;
          color: #b7bfbf;
          align-self: end;
        }
        .organizationName {
          font-style: normal;
          font-weight: 600;
          font-size: 1.125rem;
          line-height: 1.375;
          letter-spacing: 0.05em;
          text-decoration-line: underline;
          color: #3a3f3f;
          span {
            margin-right: 0.313rem;
          }
        }
        .approve {
          width: 3.75rem;
          height: 2.438rem;
        }
        .cancel {
          height: 2.438rem;
        }
        .decline {
          width: 3.75rem;
          height: 2.438rem;
        }
        .waitingForReview {
          font-style: normal;
          font-weight: 700;
          font-size: 1.125rem;
          line-height: 1.375rem;
          text-align: center;
          letter-spacing: 0.05em;
          color: #b7bfbf !important;
        }
      }
    }
  }
  .verticalGrid {
    .forBorderDiv {
      border-bottom: solid 1px #b7bfbf;
      padding-bottom: 1.188rem;
    }
    .forBorderDivSecondSection {
      border-bottom: solid 1px #b7bfbf;
      padding-bottom: 0.625rem;
    }
  }

  .callToActionColumn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.625rem;
    margin-bottom: 1rem;
  }

  .centreColumnTopRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .waitingForReview {
    p {
      font-style: normal;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.375rem;
      text-align: center;
      letter-spacing: 0.05em;
      color: #b7bfbf !important;

      margin: 1rem;
    }
  }
  @media screen and (max-width: $bp-tablet) {
    .organizationDataDesktop {
      display: none;
    }
  }
  @media screen and (min-width: $bp-tablet) {
    .verticalGrid {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      .forBorderDiv {
        border-bottom: none;
        padding-bottom: 0;
      }
      .forBorderDivSecondSection {
        border-bottom: none;
        border-left: solid 1px #b7bfbf;
        border-right: solid 1px #b7bfbf;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        padding-bottom: 0;
      }
    }
    // margin-left: 6.063rem;
    // margin-right: 9.375rem;
    h2 {
      // margin-top: 51px;
      margin-bottom: 3.063rem;
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.875rem;
      width: 4.875rem;
      height: 1.875rem;
    }
    h3 {
      width: 4.125rem;
      height: 1.375rem;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.375rem;
      margin-bottom: 0.875rem;
    }
    li {
      // width: 47.063rem;
      width: 100%;

      .eachCard {
        padding: 0.625rem 1.25rem;
        margin-bottom: 1.25rem !important;
        .mintBlueText {
          padding-top: 0.938rem;
          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.188rem;
          margin-bottom: 0.563rem;
        }
        .date {
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.188rem;
        }
        .centreColumnTopRow {
          margin-top: unset !important;
          margin-bottom: unset !important;
        }
        .sentAt {
          font-weight: 600;
          font-size: 0.875rem;
          line-height: 1.063rem;
          align-self: start !important;
          padding-top: 0.938rem;
        }
        .organizationName {
          font-weight: 600;
          font-size: 1.125rem;
          line-height: 1.375rem;
          span {
            margin-right: 0.25rem !important;
          }
        }
        .approve {
          margin-left: 2.063rem !important;
          margin-right: 2.375rem !important;
        }
        .callToActionColumn {
          margin-top: 0.938rem;
        }
        .decline {
          margin-right: 0.875rem !important;
        }
      }
    }
    .upcoming {
      margin-top: 3.875rem !important;
    }

    .history {
      margin-top: 3.875rem !important;
      li {
        padding-right: 0 !important;
      }
    }
    .cancel {
      margin-left: 3.563rem;
      margin-right: 2.375rem;
    }
    .waitingForReview {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-style: normal;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;
        letter-spacing: 0.05em;
        color: #b7bfbf !important;
        width: 8.438rem;
        height: 1.375rem;
        margin: 0 2.625rem;
      }
    }
    .organizationData {
      display: none;
    }
    .organizationDataDesktop {
      background: white;
      padding: 0 1.25rem;
    }
  }
}
