@use '../../common/variables' as *;

.waitingInfo,
.upcoming,
.history {
  h2 {
    color: #3a3f3f;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    height: 1.875rem;
  }

  h3 {
    font-size: 1rem;
    font-style: normal;
    margin-bottom: 1rem;
    margin-top: 0;

    height: 1.188rem;
  }
  ul {
    padding-left: 0;
    margin-top: 0;
    li {
      list-style-type: none;
      margin-bottom: 1.25rem;
      .eachCard {
        background: white;
        padding: 0.5rem 1.25rem;
        // height: 17rem;

        .mintBlueText {
          color: #35afac;
          font-size: 1rem;
          font-weight: 600;
        }
        .date {
          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          letter-spacing: 0.05em;
          color: #3a3f3f;
        }

        .sentAt {
          font-style: normal;
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 0.688rem;
          color: #b7bfbf;
          align-self: center;
        }

        .organizationName {
          font-style: normal;
          font-weight: 600;
          font-size: 1.125rem;
          line-height: 1.375;
          letter-spacing: 0.05em;
          text-decoration-line: underline;
          color: #3a3f3f;
          cursor: pointer;

          span {
            margin-right: 0.313rem;
          }
        }
        .approve {
          height: 2.438rem;
        }
        .cancel {
          height: 2.438rem;
        }
        .decline {
          height: 2.438rem;
        }
        .waitingForReview {
          font-style: normal;
          font-weight: 700;
          font-size: 1.125rem;
          line-height: 1.375rem;
          text-align: center;
          letter-spacing: 0.05em;
          color: #b7bfbf !important;
          flex-grow: 1;
        }
      }
    }
  }
  .verticalGrid {
    display: flex;
    flex-flow: column nowrap;

    // height: 15rem;
    .forBorderDiv {
      border-bottom: solid 1px #b7bfbf;
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      gap: 0.25rem;
      padding: 1rem 0;
    }
    .forBorderDivSecondSection {
      border-bottom: solid 1px #b7bfbf;
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      gap: 0.25rem;
      padding: 1rem 0;
    }
  }

  .callToActionColumn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    padding: 1rem 0;
  }

  .cancelAction {
    align-self: center;
    flex-grow: 1;
    padding: 1rem 0;
  }

  .centreColumnTopRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .waitingForReview {
    p {
      font-style: normal;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.375rem;
      text-align: center;
      letter-spacing: 0.05em;
      color: #b7bfbf !important;
      padding: 1rem 0;
    }
  }
  @media screen and (max-width: $bp-tablet) {
    .organizationDataDesktop {
      display: none;
    }
  }
  @media screen and (min-width: $bp-tablet) {
    .cancelAction {
      padding: 0 1.75rem !important;
    }
    .verticalGrid {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      height: unset !important;
      .forBorderDiv {
        border-bottom: none;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;
        justify-content: center;
      }
      .forBorderDivSecondSection {
        border-bottom: none;
        border-left: solid 1px #b7bfbf;
        border-right: solid 1px #b7bfbf;
        padding-right: 0.75rem !important;
        padding-left: 0.75rem !important;
        padding-bottom: 0;
        padding-top: 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;
        justify-content: center;
      }
    }

    .cancelAction {
      .cancel {
        padding-top: 0;
      }
    }

    h3 {
      width: 4.125rem;
      height: 1.375rem;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.375rem;
      margin-bottom: 0.875rem;
    }
    li {
      // width: 47.063rem;
      width: 100%;
      // height: 6.25rem;

      .eachCard {
        padding: 1.25rem !important;
        margin-bottom: 1.25rem !important;

        .organizationName {
          font-size: 0.85rem !important;
        }
        .callToActionColumn {
          padding: 0 1rem;
        }
        .mintBlueText {
          font-style: normal;
          font-weight: 600;
          font-size: 0.75rem !important;
          line-height: 1.188rem;
        }
        .date {
          font-weight: 600;
          font-size: 0.75rem !important;
          line-height: 1.188rem;
        }
        .centreColumnTopRow {
          margin-top: unset !important;
          margin-bottom: unset !important;
        }
        .sentAt {
          font-weight: 600;
          font-size: 0.875rem;
          line-height: 1.063rem;
          align-self: center !important;
          // padding-top: 0.938rem;
        }
        .organizationName {
          font-weight: 600;
          font-size: 1.125rem;
          line-height: 1.375rem;
          span {
            margin-right: 0.25rem !important;
          }
        }
        .approve,
        .decline {
          align-self: flex-end;
        }
      }
    }
    .upcoming {
      margin-top: 3.875rem !important;
    }

    .history {
      margin-top: 3.875rem !important;

      li {
        padding-right: 0 !important;
      }
    }

    .waitingForReview {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-style: normal;
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 1.375rem;
        text-align: center;
        letter-spacing: 0.05em;
        color: #b7bfbf !important;
        width: 8.438rem;
        height: 1.375rem;
        margin: 0 0.15rem;
        align-self: start;
      }
    }
    .organizationData {
      display: none;
    }
    .organizationDataDesktop {
      background: white;
      padding: 0 1.25rem;
    }
  }


}

    @media screen and (min-width: $bp-tablet) {
      .history{
        margin-bottom: 16.82rem;
      }

    }
