@use '../../common/variables.scss' as *;
.showMore{
  color:$mint-blue;
  font-family: $barlow-condensed-font;
  font-size: 1rem;
  line-height: 1.88rem;
  text-decoration: underline;
  font-weight: 600;

}