@use '../../../common/variables' as *;

.navigationMobile {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $bp-tablet) {
    display: none;
  }
}
.linksContainer {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: fixed;
  padding: 1rem;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
}
.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
@media screen and (min-width: $bp-tablet) {
  .navigation {
    display: none;
  }
}
