@use "../../common/variables" as *;

.styleContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.backgroundBeige {
  width: 100%;
  height: 100%;
  background-color: $light-beige;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  z-index: -1;
}
.backgroundWhite {
  width: 100%;
  height: 100%;
  background-color: $white;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  z-index: -1;
}

.pageContainer {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
}

.contentContainer {
  grid-column: 1 / -1;
  display: flex;

  max-width: $max-content-width;
  margin: 0 auto;
  flex-direction: column;

  @media screen and (min-width: $bp-tablet) {
    flex-flow: row nowrap;
  }
}

.aside {
  flex-basis: unset;
  padding: 0 1.25rem;

  background-color: $white;

  @media screen and (min-width: $bp-tablet) {
    flex-basis: 500px;
    padding-top: 2.55rem;
    padding-right: 1.5rem;
    margin-right: 2rem;
  }
}
