//TODO: Find a better way rather than using !important
.example {
  background-color: teal !important;
  color: white !important;
  &:hover,
  &:focus {
    background-color: lighten(teal, 50) !important;
    color: black;
  }
  &:focus:not(:hover) {
    background-color: teal !important;
    color: white;
  }
}
