@use "../../common/variables" as *;

.fieldset {
  border: none;
}

.form {
  background-color: white;
  height: 100%;
  justify-content: flex-start;
  gap: 0;
}

.slider {
  position: relative;

  input[type="range"] {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.filterHeaderHeading {
  margin: 0;
}

.clearFilter {
  color: $mint-blue;
  text-decoration: underline;
  font-weight: 600;
  font-family: $barlow-condensed-font;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}

.filterContainer {
  margin-top: 2rem;
}
