@use '../../common/variables' as *;
.lists {

  h3 {
      margin-top: 1.38rem;
      margin-left: 1.25rem;
      margin-bottom: 1.38rem;
      font-size: 1.13rem;
      line-height: 1.88rem;
      font-weight: 700;
      color: $black;
  }
  @media screen and (min-width: $bp-large) {


    h3 {
      line-height: 1.5rem;
      font-size: 1.2rem;
      grid-column: 1;
      grid-row: 1;
      margin: 0 0 2.45rem 0;
      align-self: start;

    }
  }
}
