@use '../../common/variables' as *;
.lists {
  width: 100%;
  padding: 1.25rem;
  h2 {
    font-size: 1.125rem;
  }
  @media screen and (min-width: $bp-tablet) {
    padding: 0 9rem 0 6rem;
    h2 {
      margin-top: 0;
      margin-bottom: 2rem;
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.875rem;
      width: 4.875rem;
      height: 1.875rem;
    }
  }
}
