@use '../../common/variables' as *;

.myPage{
  background-color: $light-beige;

  .outlet{
    display: flex;
    justify-content: center;
    background-color: $light-beige;

  }
}


@media screen and (min-width: $bp-large) {
}