@use '../../common/variables' as *;

.myPage{

  .outlet{
    display: flex;
    justify-content: center;
    background-color: $light-beige;
    min-height: 37.5rem;

  }
}


@media screen and (min-width: $bp-large) {

  .myPage{
    display: grid;
    grid-template-columns: 30.55% calc(100% - 30.55%);


    .menuSide {
        background-color: $white;
        display: flex;
        justify-content: flex-end;
        padding-top: 2.95rem;
        margin-top: 0;
      }

      .outlet{
        padding-top: 2.95rem;
        min-height: 50rem;

      }


  }

}