@use "../../../../common/variables" as *;

.memberContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 35px;
  max-width: 450px;
  width: 17.5rem;
  flex: 1 1 20%;

    @media screen and (min-width: $bp-large) {
        width: unset;
        max-width: unset;
      }
}

.memberImage {
  width: 17.5rem;
  height: auto;
  max-width: 450px;
  align-self: center;
  // max-height: 250px;
  // object-fit: contain;
  @media screen and (min-width: $bp-large) {
    width: 12rem;
    max-width: none;
  }

  }


.memberHeading {
  margin: 0;
  margin-top: 1.85rem;
  font-size: 1.25rem;
  color: $black;
  font-weight: 600;

  @media screen and (min-width: $bp-tablet) {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

.memberRole {
  margin-top: 0.625rem;
  color: $grey;
  font-weight: 500;
    @media screen and (min-width: $bp-tablet) {

        font-size: 0.8rem;
        line-height: 1rem;
      }
}

.iconRow {
  margin-top: 1.125rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 23.5px;
  justify-content: flex-start;
  align-items: center;
}

.snsLink {
  color: $black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
}

.linkedinName {
  color: $black;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
}

.memberIntroduction {
  margin-top: 1.0625rem;
  font-weight: 400;
  color: $black;
  @media screen and (min-width: $bp-tablet) {
    margin-top: 1rem;
    font-size: 0.8rem;
    line-height: 1.2rem;

  }
}
