@use "../../common/variables" as *;
@use "../../common/mixins" as *;

.fontMint {
  color: $mint-blue;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: start;
  max-width: 100%;
}

.whyGuestMe {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  max-width: 100%;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.imageContainer {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;

  z-index: 10;
}

.appealPointContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: flex-start;
  gap: 1rem;
  margin: 3.15rem 7.5rem 0;


  @media screen and (min-width: $bp-tablet) {
    grid-template-columns: repeat(4, 12rem);
    gap: 2.9rem;
  }
}

.loginRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  margin-top: 2.5rem;
}

.areYouJoin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 37.65rem;
  margin: 8rem auto 0 auto;



}


.loginLink {
  font-weight: bold;
  color: $mint-blue;
  // @include linkUnderline;
}

@media screen and (min-width: $bp-large) {
  .container {
    .whyGuestMe {
      margin: 0 auto;
      h3 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin-top: 0;
        margin-bottom: 1.65rem;

      }

    }
        .imageContainer {
          width: 33.05rem;
          height: auto;

          z-index: 10;
        }

        .loginRow {
          display: flex;
          justify-content: center;
          align-items: center;
          gap:1.3rem;
          margin-top: 0;
          margin-bottom: 8.15rem;
        }

        .loginLink{
            &:hover {
                opacity: 0.8;
                cursor: pointer;
              }
        }

  }
}
