@use  '../../common/variables.scss' as *;
.reference {

    display: flex;
    flex-direction: row;

  div {

    width: 1rem;
    height: 1rem;
    border-radius: 0.10rem;
  }

}

.available{

  background-color: $light-orange;
}

.notAvailable{

  background-color: $grey;
}

.bookedByYou{

  background-color: $mint-blue;
}
