@use "../../../common/variables" as *;

.loginFormContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.9rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputRow {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0;

  input {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.passwordRow {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 1fr;

  .inputPassword {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.eyeContainer {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.keepLogin {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0;
  line-height: 1rem;

  input[type="checkbox"i] {
    visibility: hidden;
  }

  input[type="checkbox"i]:checked:after {
    background-color: rgba($mint-blue, 0);
    border: 0.1px solid $black;
  }

  input[type="checkbox"i]:after {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "\2713";
    width: 1rem;
    height: 1rem;
    color: $white;
    background-color: rgba($mint-blue, 1);
    border-radius: 4px;
  }

  span {
    display: inline-block;
    margin-left: 0.5rem;
  }
}

.forgotPassword {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  color: $mint-blue;
}
