@use '../../common/variables' as *;

.myPageMenu{
  width: 100%;
  background-color: $white;
  color:$black;
  font-family: $barlow-condensed-font;
  padding-bottom: 3px;

    h2{
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.88rem;
      margin-top:0rem;
      padding-top: 0.5rem;
      margin-left:1.25rem;
      margin-bottom: 1rem;

    }
    .myPageMenuContainer{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin-bottom: 0.44rem;

      a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        font-size: 0.90rem;
        font-weight: 700;
        color:$black;
        gap: 0.5em;
        padding: 1.15rem 0;
      }



    }
}

@media screen and (min-width: $bp-large) {
  .myPageMenu {
      width: 14.85rem;
      padding-bottom: 3rem;

      h2 {
        font-size: 1.2rem;
        line-height: 1.50rem;
        margin-left: 0rem;
        margin-bottom: 4rem;
        padding-top: 0;

      }

      .myPageMenuContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 0.5rem;

        a {
          flex-direction: row;
          align-items: center;
          font-size: 0.88rem;
          font-weight: 700;
          position: relative;
          padding-left: 0.6rem;
        }
        a:before{
          content: '';
          position: absolute;
          left: 0;
          bottom: -5px;
          height: 1px;
          width: 90%;
          border-bottom: 1px solid $grey;
        }


      }
      .button{
        margin-top: 1.50rem;

        :first-child{
          width: 90%;
        }

      }
    }

}