@use '../../common/variables.scss' as *;

.profileReviews{
  margin-bottom: 3.13rem;


  .profileReviewsHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1.14rem auto 0.45rem 1.14rem;

    .arrows{
      width: fit-content;
      height: fit-content;

          .arrowLeft {
              width: 0.8rem;
              height: auto;
              transform: rotate(90deg);
              margin-right: 1.81rem;
            }

            .arrowRight {
              width: 0.8rem;
              height: auto;
              transform: rotate(-90deg);
              margin-right: 1.25rem;
            }

    }




      h4 {
          font-size: 1rem;
          font-weight: 700;
          line-height: 0rem;
          color: $black;
          margin:0;

        }

  }

  .reviewsContainer{
    width: calc(100% - 1.14rem);
    height:16.25rem ;
    display: flex;
    overflow: auto;
    margin-left: 1.14rem;


    .review{
      width: 13.75rem;
      flex-shrink: 0;
      min-height: 100%;
      height: fit-content;
      background-color: $light-green;
      margin: 0 0.63rem 0 0;

      .date{
        background-color: $white;
        font-size: 0.75rem;
        font-weight: 400;
      }

      .reviewContainer{
        h5{
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.5rem;
          color: $black;
          margin: 0.88rem auto 0.38rem 1.25rem;
        }

        p{
          font-size: 1rem;
          font-weight: 400;
          color: $black;
          margin: 0 1.25rem 0.94rem 1.25rem;
        }
      }
    }
  }



}

@media screen and (min-width: $bp-large) {

  .profileReviews{

    .profileReviewsHeader{
      justify-content: flex-start;
      margin: 1.14rem auto 0.45rem 1.5rem;

      .arrows{
        margin-left:2.30rem;
      }
    }

    .reviewsContainer{
      margin: 0.88rem auto 0.38rem 1.5rem;

      .review{

        .date{
          font-size:0.6rem;
        }
        .reviewContainer{
          h5{
            font-size: 0.8rem;

          }
          p{
            font-size: 0.8rem;
          }
        }
      }
    }
  }

}
