@use "../../common/variables" as *;

.formContainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.9rem;
}

.formHeading {
  display: flex;
  flex-flow: column nowrap;
  justify-items: flex-start;
  align-items: flex-start;
}

.aside {
  width: 100%;
}

.img {
  width: 100%;
  max-height: 800px;
}

.registerRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: $bp-tablet) {
    padding-top: 3.13rem;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.registerLink {
  color: $mint-blue;
}
