@use '../../common/variables.scss' as *;

.tertiaryContainer{

  background-color: $light-beige;


  .video{
    background-color: $white;
    display: flex;
    flex-direction: column;
    margin: 3.13rem 1.14rem 0 1.14rem;


    h4{
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5rem;
      color: $black;
      margin: 1.14rem auto 0.45rem 1.14rem;

    }

    :last-child{
      margin:0 1.14rem 1.14rem 1.14rem;
    }

  }
  .availabilityContainer{
    margin: 0 1.14rem 1.25rem 1.14rem;
    background-color: $white;

  .availability{
        background-color: $white;
        display: flex;
        flex-direction: column;
        margin: 3.13rem 1.14rem 0 1.14rem;
        padding-bottom: 0.5rem;

        h4 {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.5rem;
            color: $black;
            margin: 1.14rem auto 0.45rem 1.14rem;

          }


  }

  .button{
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3.75rem;
    margin: 0 2.28rem 1.25rem 2.28rem;

    :first-child{
      width: 100%;

    }

  }
}

}