@use '../../common/variables' as *;
.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  height: 100%;
}

.checkbox {
  accent-color: $mint-blue;
  color: $white;
  margin: 0;

  visibility: hidden;

  &:checked:after {
    background-color: rgba($mint-blue, 1);
    border: 1px solid $mint-blue;
  }

  &:after {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\2713';
    width: 0.8rem;
    height: 0.8rem;
    color: $white;
    background-color: rgba($mint-blue, 0);
    border: 1px solid $black;
    border-radius: 4px;
  }
}

.label {
  margin: 0;
  line-height: 1rem;
}
