@use "../../../../common/variables" as *;

.filterHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.filterHeaderHeading {
	color: $black;
	margin: 0;
	font-weight: 700;
	font-size: 1.2rem;
}

.clearFilter {
	color: $mint-blue;
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	font-weight: 600;
	font-family: $barlow-condensed-font;
	line-height: 1.5rem;
	letter-spacing: 0.05em;

	@media screen and (min-width: $bp-large) {
		&:hover{
			opacity: 0.8;
			cursor: pointer;
		}
	}


}

.apply {
	color: $mint-blue;
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	font-weight: 600;
	font-family: $barlow-condensed-font;

	display: block;

	@media screen and (min-width: $bp-tablet) {
		display: none;
	}
}
