@use "../../../../common/variables" as *;

.filterHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.filterHeaderHeading {
	margin: 0;
}

.clearFilter {
	color: $mint-blue;
	text-decoration: underline;
	font-weight: 600;
	font-family: $barlow-condensed-font;
	line-height: 1.5rem;
	letter-spacing: 0.05em;
}

.apply {
	color: $mint-blue;
	text-decoration: underline;
	font-weight: 600;
	font-family: $barlow-condensed-font;

	display: block;

	@media screen and (min-width: $bp-tablet) {
		display: none;
	}
}
