@use './common/variables'as *;

// Root Styles here
body {
  background-color: $light-beige;
  font-family: $barlow-font;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
}

.main {
  flex: 1 0 50%;
  padding-top: $top-padding-navbar-desktop;
}

p {
  margin-block-start: unset;
  margin-block-end: unset;
  color: $black;
  letter-spacing: 0.05em;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $barlow-condensed-font;
}