/* Font Families */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Barlow:wght@400;500;600;700&display=swap');

@import-normalize; /* bring in normalize.css styles */

/* rest of app styles */
body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: 100vh;
}

html {
  line-height: unset;
}

* {
  box-sizing: border-box;
}




html {
  font-size: 16px;
}

@media (min-width:768px) {
  html {
    font-size: 17px;
  }

}

@media (min-width:1024px) {
  html {
    font-size: 19px;
  }
}

@media (min-width:1280px) {
  html {
    font-size: 20px;
  }
}