/* Font Families */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Barlow:wght@400;500;600;700&display=swap');

@import-normalize; /* bring in normalize.css styles */

/* rest of app styles */
body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: 100vh;
}

html {
  line-height: unset;
}

* {
  box-sizing: border-box;
}


html {
  font-size: calc(15px + 0.34722vw);
}
