// Colors
$mint-blue: #35afac;
$black: #3a3f3f;
$grey: #b7bfbf;
$light-beige: #f9f8f5;
$light-green: #ecf2f2;
$fiery-rose: #f28080;
$light-orange: #f0a274;
$white: #fff;
$bg-auth-form: #f5f5f5;

//@TODO: check
$max-content-width: 1140px;

// Fonts
$barlow-font: "Barlow", sans-serif;
$barlow-condensed-font: "Barlow Condensed", sans-serif;

$bp-tablet: 768px;
$bp-large: 992px;

$top-padding-navbar-desktop: 64px;
