// Colors
$mint-blue: #35afac;
$black: #3a3f3f;
$grey: #b7bfbf;
$light-beige: #f9f8f5;
$light-green: #ecf2f2;
$fiery-rose: #f28080;

// Fonts
$barlow-font: 'Barlow', sans-serif;
$barlow-condensed-font: 'Barlow Condensed', sans-serif;
