// Colors
$mint-blue: #35afac;
$black: #3a3f3f;
$grey: #b7bfbf;
$light-beige: #f9f8f5;
$light-green: #ecf2f2;
$fiery-rose: #f28080;
$light-orange: #F0A274;
$white: #fff;
$bg-auth-form: #F5F5F5;

//@TODO: check
$max-content-width: 1000px;

// Fonts
$barlow-font: 'Barlow',
sans-serif;
$barlow-condensed-font: 'Barlow Condensed',
sans-serif;

$bp-tablet: 768px;