@use "../../common/variables" as *;
.header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 4;
  background-color: $white;
  @media screen and (min-width: $bp-tablet) {
    height: $top-padding-navbar-desktop;
  }

  .navContainer {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: space-between;
    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
      padding: 0 7.5rem;
    }

    .logo {
      width: 4.2rem;
      height: auto;
      object-fit: contain;
    }

    nav ul {
      list-style: none;
      padding-left: 0;
    }
  }
  h1 {
    font-size: 1.5rem;
  }
}
